//注意，这里只要写错一点，整个文件的js不会执行
newhtml="<%= j render(partial: 'rooms/results',locals:{srooms: @searchrooms,des:@descriptions})%>";
$('.results').empty();
//这里不能用replaceWith 想想为什么?
$('.results').append("<br/><h4 class=\"ui horizontal divider header\"><i class=\"bar chart icon\"></i>搜索结果</h4>");
$('.results').append(newhtml);
