// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@-webkit-keyframes fadeIn {
0% {
opacity: 0; /*初始状态 不透明度为0*/
}
50% {
opacity: 0; /*中间状态 不透明度为0*/
}
100% {
opacity: 1; /*结尾状态 不透明度为1*/
}
}

.row{-webkit-animation-name: fadeIn; /*动画名称*/
-webkit-animation-duration: 3s; /*动画持续时间*/
-webkit-animation-iteration-count: 1; /*动画次数*/
-webkit-animation-delay: 0s; /*延迟时间*/}

#head{
  padding-top: 20px;
}
